/*index_css*/
*{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html{
	margin:0;
	padding:0;
}

body{
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
	background-color: #000000;
	margin:0;
  	padding:0;
	overflow-y: hidden;
}

div#bootlog{
	color: #1A9437;
}

p.ef{
	font-size: 30px;
	text-align: center;
	height: 500px;
    line-height: 500px;
	color: #1A9437;
	font-style: oblique;
}

p.ef2{
	font-size: 22px;
	text-align: center;
	height: 5px;
    line-height: 5px;
	color: #1A9437;
}

@keyframes roll {
    from {
        transform: perspective(500px) rotateY(0deg);
    }
    50%{
        transform: perspective(500px) rotateY(180deg);
    }
    to{
        transform: perspective(500px) rotateY(360deg);
    }
}

.rolling{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
    animation: roll 5s ease infinite;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 120px;
}

.static_logo{
	-webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
	visibility:hidden;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 0px;
}

.windows8{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 70px;
}

.sys_msg01{
	visibility:hidden;
	font-size: 22px;
	text-align: center;
	margin-top: 190px;
}

.sys_msg02{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
	font-size: 22px;
	text-align: center;
	margin-top: 190px;
}

.top_header{
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100px;
    background:rgba(50,50,50,0.7);
    z-index:100;
}

.code_logo{
    position: fixed !important;
    position: absolute;
    background: url('../img/codeac_namelogo.png');
    background-repeat: no-repeat;
    z-index:101;
    width: 304px;
    height: 100px;
    left:50%;
    margin-left:-152px;
}

.under_menu{
	position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 0%;
    height: 100px;
    background:rgba(50,50,50,1);
	animation:menu_open 2s ease both;
	animation-delay: 58200ms;
	z-index:100;
	display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
}

.under_menu:before,
.under_menu:after {
    content: "";
    display: table;
}
 
.under_menu:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.under_menu {
    zoom: 1;
}

@keyframes menu_open{
	0% {
		background:rgba(50,50,50,1);
		width: 0%;
	}

	100% {
		background:rgba(20,20,20,1);
		width: 100%;
	}

}

*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel-in::before,
.panel {
    -webkit-background-size: cover;
    background-size: cover;
}
.panel {
	position: absolute;
    width: 100%;
    height: 100%;
	visibility:hidden;
	z-index:50;
}
.panel-in::before {
    content: "";
    position: absolute;
    background-clip: content-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.panel-in {
    padding: 0px;
    position: relative;
}
.panel-main {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 40px;
    z-index: 30;
    position: relative;
    margin-bottom: 0;
    background: rgba(255,255,255,0.4);
}

.page_top{
	text-align: center;
    padding: 280px;
    position: relative;
    color: #FFFFFF;
	visibility:hidden;
	z-index:50;
	text-shadow:
	    -1px -1px #000,
		1px -1px #000,
		-1px 1px #000,
		1px 1px #000;
}

.Pagefream{
	visibility:visible;
	opacity: 0;
	-webkit-transition: all 5s;
    -moz-transition: all 5s;
    -ms-transition: all 5s;
    -o-transition: all 5s;
    transition: all 5s;
}

.loading_screen{
	font-size: 22px;
	padding-top: 510px;
	text-align: center;
	opacity: 1;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index:70;
	visibility:hidden;
	background-color: #cfcfcf;
}

.button {
	opacity: 0;
	-webkit-transition: all 6s;
    -moz-transition: all 6s;
    -ms-transition: all 6s;
    -o-transition: all 6s;
    transition: all 6s;
    width: 170px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 100px;
    background-color: #1F1F1F;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
	visibility:hidden;
	border-bottom:solid 5px #FFFFFF;
}
.button:hover {
    background-color: #3F3F3F;
}

.button::before,
.button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button,
.button::before,
.button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
