/*index_css*/
*{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body{
	background-color: #000000;
}

div#bootlog{
	color: #1A9437;
}

p.ef{
	font-size: 30px;
	text-align: center;
	height: 500px;
    line-height: 500px;
	color: #1A9437;
	font-style: oblique;
}

p.ef2{
	font-size: 22px;
	text-align: center;
	height: 5px;
    line-height: 5px;
	color: #1A9437;
}

@keyframes roll {
    from {
        transform: perspective(500px) rotateY(0deg);
    }
    50%{
        transform: perspective(500px) rotateY(180deg);
    }
    to{
        transform: perspective(500px) rotateY(360deg);
    }
}
.rolling{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
    animation: roll 5s ease infinite;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 120px;
}

.static_logo{
	-webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
	visibility:hidden;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	margin-top: 120px;
}

.windows8{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 70px;
}
.sys_msg01{
	visibility:hidden;
	font-size: 22px;
	text-align: center;
	margin-top: 190px;
}

.sys_msg02{
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
	visibility:hidden;
	font-size: 22px;
	text-align: center;
	margin-top: 190px;
}

.under_menu{
	position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 0%;
    height: 100px; 
    background:rgba(50,50,50,1);
	animation:menu_open 2s ease both;
	animation-delay: 58200ms;
}

@keyframes menu_open{
	0% {
		background:rgba(50,50,50,1);
		width: 0%;
	}

	100% {
		background:rgba(20,20,20,1);
		width: 100%;
	}

}